.shots-container{
  text-align: center;
  margin-bottom: 30px;

  ol{
    &.shots{
      padding:10px;

      >li{
        display: inline-block;
        padding: $shot-width-extra auto;
        margin: 20px;
        width: $shot-width;
        @include animate-ng-repeat-fade();
      }
    }
  }

  .shot{
    background-color: white;

    &:hover{
      cursor: pointer;
      @include box-shadow(1px 1px 6px 1px rgba(0,0,0,0.55));
    }
    >.shot-img{
      border-bottom: 1px solid #dadada;
      width: 200px;
      height: 150px;
    }

    .shot-details{
      text-align: left;
      position: absolute;
      background-color: #eee;
      margin-left: -$shot-width-extra;
      padding: 36px 10px 10px 10px;
      width: $shot-width + $shot-width-extra*2;
      border-top: 1px solid rgba(48, 63, 69, 0.1);
      margin-bottom: 30px; //garante que o ultimo shot em um dispositivo pequeno possa ser lido totalmente
      z-index: 101;
      word-break: break-all;

      @include box-shadow(-1px 1px 4px 0px rgba(0,0,0,0.55));

      &::before {
        content: '';
        position: absolute;
        top: -20px;
        left: 22px;
        border-top: 10px solid transparent;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 10px solid #eeeeee;
        clear: both;
      }

      @include animate-ng-show-fade();

      &:hover{
        cursor: default;
      }
      &.active{
        display: inherit;
      }

      .user{
        >.user-img{
          border: 1px solid white;
          background-color: white;
          width: 34px;
          height: 34px;
          position: absolute;

          background-repeat: no-repeat;
        }
        >span{
          padding: 6px 0px 0px 38px;
          display: inherit;
        }
      }
      .details{
        padding-top: 14px;

        .comment{
          font-size: 11px;
          color: #848484;
          text-align: justify;
        }
        .timestamp{
          text-align: right;
          font-size: 10px;
          float: right;
        }
      }
    }


    .shot-social{
      min-height: 34px;

      >ul{
        padding: 7px;
        position: absolute;
        width: $shot-width;
        @include animate-shot-social();

        &.shot-social-animate{
          z-index: 102;
          @include animate-shot-social-active();
        }

        >li{
          color: #888;
          text-align: left;
          font-size: 12px;
          display: inline-table;
          width: 30%;

          >span{
            font-family: sans-serif;
            padding: 0px 4px;
            position: absolute;
          }
        }
      }
    }
    .shot-shot{
      background-color: #aaa;
    }
  }

  .end-list{
    color: #7b7b7b;
  }
}
