<footer class="footer">
  <div class="container">
    <div class="row social">

      <div class="col-xs-12">
        <div class="footer-title">
          Desafio Concrete Front-end
        </div>
        <div class="footer-description">
          Implementar uma aplicação completamente client-side, que consulte a API do Dribbble e mostre os shots mais populares. Esta aplicação deve funcionar nos navegadores mais recentes do mercado.
        </div>
        <div class="footer-developer">
          Desenvolvido por Gilvam Mourao Carvalhais Filho
        </div>
      </div>

      <div class="col-xs-offset-2 col-xs-2">
        <div class="social-link">
          <a href="https://br.linkedin.com/in/gilvam" target="_blank">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="social-link">
          <a href="https://twitter.com/gilvamm" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="social-link">
          <a href="https://www.instagram.com/gilvamm/" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="social-link">
          <a href="https://www.fb.com/gilvamm" target="_blank">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
